.no-padding{padding:0;}
.no-margin{margin:0;}

.logo
{
    padding:10px 0 15px 0;
}

.header-text-container
{
    text-align: right;
    font-size: 13px;
    line-height: 10px;
}

.header-text
{
    margin-top: 1em;
}

.nav-container
{
    margin-top: 20px;
}

.ul-width
{
    width: 100%;
}

.slider-container
{
    width: 100%;
}

.slider-image
{
    width: 100%;
}

/* 以下是不能完美适配响应式时所使用的代码 */
/* 移动端 */
.slider-text
{
    position: absolute;
    right: 0;
    bottom: -50%;
    z-index: 20;
    background-color: #57085d;
    width: 250px;
    height: 110px;
    color: white;
}

.slider-text-title
{
    margin-left: 10%;
    margin-top: 5%;
}

.slider-text-desc
{
    margin-left: 5%;
    margin-right: 5%;
}

.slider-dots
{
    bottom: -40%;
    left: 80%;
    z-index: 30;
    width: 100px;
    margin-left: -10%;
}

.li-width
{
    text-align: center;
    width: 100%;
}
/* 移动端 */
/* 以上是不能完美适配响应式时所使用的代码 */
/* 以下是不能完美适配响应式时所使用的代码 */
/* 电脑端 */
@media screen and (min-width: 768px) {
    .slider-text
    {
        bottom: -5%;
        width: 350px;
        height: 200px;
    }

    .slider-dots
    {
        bottom: -5%;
        left: 95%;
        z-index: 30
    }

    .li-width
    {
        text-align: center;
        width: 14%;
    }
}
/* 电脑端 */
/* 以上是不能完美适配响应式时所使用的代码 */