{include file="public/header"}

<body data-spy="scroll" data-target="#myScrollspy">

<!-- 总div -->
<div class="container">

    {include file="public/nav"}
    {include file="public/title"}


    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked hidden-xs" data-spy="affix" data-offset-top="350">
                <li class="active hidden-xs"><a href="#section-1">Events</a></li>
                <li class="hidden-xs"><a href="#section-2">Seminar</a></li>
                <li class="hidden-xs"><a href="#section-3">Contest</a></li>
                <li class="hidden-xs"><a href="#section-4">Newsletter</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h2 id="section-1">Events</h2>
            <div class="row facilities">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <img src="__IMAGE__/facilities.jpg" class="img-responsive facilities-image">
                </div>
                <div class="facilities-info col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <p class="date-margin detail-text"><span class="colored-text">26 NOV 2017</span></p>
                    <p class="detail-text event-detail"><span class="colored-text">Date:</span> 24 - 26 November 2017</p>
                    <p class="detail-text"><span class="colored-text">Venue:</span> Cyberport, Hong Kong</p>
                    <hr>
                    <p>IMSE Students win the Champion of the “Maritime & Logistics Hackathon 2017” (Date: 24-26 November 2017)</p>
                </div>
                <hr>
            </div>
            <hr>

            <h2 id="section-2">Seminar</h2>
            <div class="row facilities">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <img src="__IMAGE__/facilities.jpg" class="img-responsive facilities-image">
                </div>
                <div class="facilities-info col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <p class="date-margin detail-text"><span class="colored-text">26 NOV 2017</span></p>
                    <p class="detail-text event-detail"><span class="colored-text">Date:</span> 24 - 26 November 2017</p>
                    <p class="detail-text"><span class="colored-text">Venue:</span> Cyberport, Hong Kong</p>
                    <hr>
                    <p>IMSE Students win the Champion of the “Maritime & Logistics Hackathon 2017” (Date: 24-26 November 2017)</p>
                </div>
                <hr>
            </div>
            <hr>

            <h2 id="section-3">Contest</h2>
            <div class="row facilities">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <img src="__IMAGE__/facilities.jpg" class="img-responsive facilities-image">
                </div>
                <div class="facilities-info col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <p class="date-margin detail-text"><span class="colored-text">26 NOV 2017</span></p>
                    <p class="detail-text event-detail"><span class="colored-text">Date:</span> 24 - 26 November 2017</p>
                    <p class="detail-text"><span class="colored-text">Venue:</span> Cyberport, Hong Kong</p>
                    <hr>
                    <p>IMSE Students win the Champion of the “Maritime & Logistics Hackathon 2017” (Date: 24-26 November 2017)</p>
                </div>
                <hr>
            </div>
            <hr>

            <h2 id="section-4">Newsletter</h2>
            <div class="row facilities">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <img src="__IMAGE__/facilities.jpg" class="img-responsive facilities-image">
                </div>
                <div class="facilities-info col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <p class="date-margin detail-text"><span class="colored-text">26 NOV 2017</span></p>
                    <p class="detail-text event-detail"><span class="colored-text">Date:</span> 24 - 26 November 2017</p>
                    <p class="detail-text"><span class="colored-text">Venue:</span> Cyberport, Hong Kong</p>
                    <hr>
                    <p>IMSE Students win the Champion of the “Maritime & Logistics Hackathon 2017” (Date: 24-26 November 2017)</p>
                </div>
                <hr>
            </div>
            <hr>
        </div>
    </div>
    <div style="height: 50px"></div>
</div>
<!-- 总div -->
</body>

{include file="public/footer"}